.twoflex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.twogrid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 840px) {
        //grid-template-columns: 1fr;
        display: block;
    }
    p {
        margin: .5em 0;
    }
}

.twogrid_no_break {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    p {
        margin: .5em 0;
    }
}

.twocir {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}


.threegrid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}