@import 'variable';
@import 'grid';

body {
    margin: 0;
}

.wrapper {
    text-align: center;
    //width: 414px;
    width: 100vw;
    height: 100vh;
    
}

.long {
    width: 100vw;
    text-align: center;
    height: 100vh;
}

.bar {
    background-color: $prime-color;
    height: 83px;
    display: block;
}

h1 {
    margin: 0;
    font-family: $header-font;
    font-size: $header-size;
    font-weight: $header-weight;
}

p {
    font-family: $header-font;
    font-size: $header-size;
}

.list {
    list-style: none;
    text-align: left;
    font-family: $header-font;
    li {
        padding-bottom: 2em;
    }
    a {
        color: $prime-color;
    }
}

/*************
** Bottom Nav
*************/

.nav {
    bottom: 0;
    position: fixed;
    overflow: hidden;
    height: 4.19em;
    width: inherit;
    background-color: #fff;
    .home {
        background-image: url(../img/home.svg);
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: middle;
        height: 2.56em;
    }
    .chart {
        background-image: url(../img/chart.svg);
        background-position: center;
        background-repeat: no-repeat;
        height: 1.5em;
    }
    .resources {
        background-image: url(../img/resources.svg);
        background-position: center;
        background-repeat: no-repeat;
        height: 2em;
    }
}



/*************
** Today
*************/
.pie {
    background-image: url(../img/pi.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 15em;
}

.run {
    background-image: url(../img/running.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 8.25em;
}

.scale {
    background-image: url(../img/scale.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 8.25em;
}


/*************
** Sign Up
*************/
.inbox {
    padding-left: 1em;
    margin: 0 auto;
    margin-bottom: 2em;
    display: block;
    width: 263px;
    height: 68px;
    border: 3px solid #ACACAC;
}

.link {
    display: block;
    margin: 0 auto;
    padding: 1em 0 4em 0;
    text-decoration: none;
    color: $prime-color;
}

.lam {
    margin: 0 auto;
    margin-bottom: 2em;
    display: block;
    width: 286px;
    height: 76px;
    border: 3px solid #ACACAC;
}

a {
    text-decoration: none;
    color: #000;
} 

.nesu {
    display: inline-block;
    margin: 0 auto;
    padding: 1.75em 7.5em;
    border: 3px solid $prime-color;
    border-radius: 10px;
    background-color: transparent;
    text-align: center;
}

#rec {
    width: 70%;
    margin: 0 auto;
    text-align: left;
}


/**************
** Adding & Previous
**************/
.box {
    margin: 0 auto;
    width: 408px;
    height: 75px;
    border: 3px solid $prime-color;
    font-family: $header-font;
    font-weight: $header-weight;
    @media (max-width: 768px) {
        width: 395px;
    }
    @media screen and (max-width: 500px) {
        width: 350px;
    }
    .mid {
        margin-top: 25px;
    }
    label {
        padding-left: 1em;
        text-align: left;
        @media (max-width: 700px) {
            padding-left: .5em;
        }
    }
    input {
        text-align: right;
        width: 80%;
        margin: 0 auto;
        box-sizing: border-box;
        border: 2px solid #ccc;
        transition: border 0.3s;
        @media (max-width: 700px) {
            width: 50%;
        }
        &:focus {
            border: 2px solid #555;
        }
        
    }
    .work {
        display: block;
        line-height: 75px;
        vertical-align: middle;
    }
}

.btnfood {
    display: inline-block;
    padding: 1.625em 4.25em;
    border-radius: 10px;
    background-color: $second-color;
    color: #fff;
    font-family: $header-font;
    font-weight: $header-weight;
    font-size: 1em;
}

.addbtn {
    background-image: url(../img/add.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 5em;
    width: 5em;
    border: none;
}

/*************
** Chart
*************/

.intake {
    background-image: url(../img/intake.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 13.44em;
}

.weight {
    background-image: url(../img/weight.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 13.44em;
}

/*************
** Single App
*************/

#boxhold {
    margin: 0 auto;
    ul {
        list-style-type: none;
        padding: 0;
        li {
            margin: 0 auto;
            width: 408px;
            height: 75px;
            border: 3px solid $second-color;
            @media screen and (max-width: 500px) {
                width: 350px;
            }
            h1 {
                font-family: $header-font;
                font-weight: $header-weight;
                font-size: 1em;
            }
            p {
                font-family: $header-font;
                font-weight: $header-weight;
            }
            .work {
                font-family: $header-font;
                font-weight: $header-weight;
                font-size: 1em;
            }
        }
    }
}

i {
    color:#fff;
    margin: 30px 0 30px 400px;
    position: relative;
    font-size: 2em;
}

.work {
    font-family: $header-font;
    font-weight: $header-weight;
    font-size: 1em;
}

/*************
** Colors
*************/

.prime-color {
    background-color: $prime-color;
}

.second-color {
    border-color: $second-color;
}

.third-color {
    border-color: $third-color;
}

/******************
** Padding & Margin
******************/

.bot1 {
    margin-bottom: 1em;
}
.bot2 {
    margin-bottom: 2em;
}
.bot3 {
    margin-bottom: 3em;
}
.bot4 {
    margin-bottom: 4em;
}
.bot5 {
    margin-bottom: 5em;
}
.bot6 {
    margin-bottom: 6em;
}
